*.psess
*.vspx
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Package.StoreAssociation.xml
Chat.csproj.user
*.pfx
Chat\Chat_StoreKey.pfx
Chat\Chat_TemporaryKey.pfx
Chat\Package.StoreAssociation.xml

